BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 130
NamespaceIndentation: All
AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: true
Standard: Cpp11
AccessModifierOffset: -2
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false