[submodule "bandit"]
	path = bandit
	url = git@github.com:joakimkarlsson/bandit.git
[submodule "mcpputil"]
	path = mcpputil
	url = git@github.com:garyfurnish/mcpputil.git
[submodule "mcpposutil"]
	path = mcpposutil
	url = git@github.com:garyfurnish/mcpposutil.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
